<div class="row">
    <div class="col">
        <h1 class="page-title">Today's Mood</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form method="POST" action="/reviews">
            <div class="form-row">
                <div class="form-group col-8 col-lg-6">
                    <label for="movieName">Mood</label>
                    <input type="text" name="movieName" class="form-control" id="movieName" placeholder="How are you feeling?">
                </div>
                <div class="form-group col-4 col-lg-6">
                    <label for="inputRating">Your Rating</label>
                    <select name="rating" id="inputRating" class="form-control">
                        <option value="5">5 - YASSSS</option>
                        <option value="4">4 - Pretty good</option>
                        <option value="3">3 - Could be better</option>
                        <option value="2">2 - Meh</option>
                        <option value="1">1 - AWFUL</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="reviewTitle">Subject</label>
                <input type="text" name="title" class="form-control" id="reviewTitle" placeholder="Write a headline for your day here...">
            </div>

            <div class="form-group">
                <label for="reviewBody">How Was Your Day?</label>
                <textarea name="body" class="form-control" id="reviewBody" rows="3" placeholder="Feel free to talk about your day, what you're grateful for, etc.."></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
